body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
    color: #00796b;
}

.add-plant {
    margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    border: 1px solid #00796b;
    border-radius: 5px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #00796b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}

#plantList {
    text-align: left;
}

.plant-item {
    background-color: #e0f2f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.plant-item h2 {
    margin: 0;
    font-size: 1.2em;
    color: #004d40;
}

.plant-item p {
    margin: 5px 0;
    color: #00796b;
}

.plant-item button {
    background-color: #ff7043;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.plant-item button:hover {
    background-color: #d84315;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    align-self: center;
}